@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.main-menu {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1fr;
  grid-template-areas: "menu-logo menu-nav menu-login";
  grid-column-gap: 15px;
  align-items: center;
  justify-items: center;
  background-color: #506D84;
}
.main-menu__logo {
  grid-area: menu-logo;
  margin: 5px 10px;
}
.main-menu__items {
  grid-area: menu-nav;
  list-style: none;
  display: flex;
  justify-self: start;
  width: 100%;
}
.main-menu__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-right: 15px;
  padding: 0 5px;
  position: relative;
}
.main-menu__link:before {
  position: absolute;
  top: 33px;
  left: 0;
  display: block;
  height: 3px;
  width: 0%;
  background-color: #D4B499;
  content: "";
  transition: 0.4s ease;
}
.main-menu__link:hover:before {
  width: 100%;
}
.main-menu__link--active {
  color: #F3D5C0;
}
.main-menu__login {
  grid-area: menu-login;
}

footer {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-column-gap: 15px;
}

.footer__copyright {
  align-self: end;
  justify-self: center;
  margin-bottom: 15px;
}
.footer__contacts {
  justify-content: center;
  margin: 0 70px;
}
.footer__header {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
  max-height: 110px;
  margin-bottom: 10px;
}
.footer__item {
  display: flex;
  font-size: 16px;
  margin-bottom: 5px;
  width: 260px;
  margin-right: 15px;
}
.footer__item p {
  margin-left: 5px;
}
.footer__socials {
  margin: 0 15px;
}
.footer__social-container {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}
.footer__social {
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.footer__social img {
  height: 100%;
  width: 100%;
}

.catalog .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 300px);
}
.catalog__item {
  border: 1px solid #d3dcea;
  border-radius: 6px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}
.catalog__item:hover {
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
}
.catalog_btn {
  margin-top: 15px;
  margin-bottom: 5px;
}
.catalog__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.catalog__img {
  width: 250px;
  height: 250px;
}

.read-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 35px;
}
.read-item__img {
  width: 400px;
  height: 400px;
}
.read-item__title {
  text-align: center;
}
.read-item__text {
  margin-top: 15px;
  text-align: justify;
}

.login-modal input {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
.login-modal input[type=submit] {
  height: 40px;
  width: 130px;
}
.login-modal__title {
  text-align: center;
  margin-bottom: 15px;
}
.login-modal__form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8f5f2;
  width: 400px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  margin-top: 50px;
}
.contact-form h1 {
  text-align: center;
  margin-bottom: 15px;
}
.contact-form form {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-form form input[type=text] {
  margin-top: 15px;
  margin-right: 10px;
  height: 45px;
  width: 400px;
  font-size: 16px;
  color: #404041;
  border: 1px solid #dfeeff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 20px;
}
.contact-form form input[type=submit] {
  margin-top: 15px;
  line-height: 0;
}
.contact-form form input:nth-child(5) {
  grid-column: 1/3;
}
.contact-form form input:nth-child(6) {
  justify-self: center;
  grid-column: 1/3;
  margin-top: 20px;
  height: 40px;
  width: 130px;
}

.main-section {
  margin: 0;
  background-image: url("../img/background.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}
.main-section h1 {
  padding-top: 15%;
  color: #fff;
  font-size: 65px;
  margin-left: 10%;
}
.main-section p {
  color: #fff;
  font-size: 25px;
  margin-left: 10%;
  padding-bottom: 15%;
}

.achievements {
  margin: 0;
  width: 100%;
  background-color: #FEF5ED;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  padding-bottom: 100px;
}
.achievements h1 {
  text-align: center;
  font-size: 30px;
  padding: 40px 0 60px;
}
.achievements__container {
  width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  justify-items: center;
}
.achievements__item {
  width: 300px;
  background-color: #fff;
  padding: 10px 5px 25px;
  border-radius: 6px;
  border: 1px solid #dfeeff;
}
.achievements__item .material-icons {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  font-size: 60px;
}
.achievements__item p {
  text-align: center;
}
.achievements__header {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.achievements__data {
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.about {
  padding-bottom: 100px;
}
.about h1 {
  padding: 60px 0;
  font-size: 30px;
}
.about p {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 10px;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7faff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  display: block;
  outline: none;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 130px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease;
  background-color: #0656a7;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.btn:hover {
  background-color: #0765c5;
}

.body-container {
  flex: 1 0 auto;
}

section {
  width: 1200px;
  display: block;
  margin: 25px auto;
}

input {
  padding: 3px 5px;
  box-sizing: border-box;
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.modal--active {
  display: block;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: block;
  width: 100%;
  z-index: 100;
}

/*# sourceMappingURL=main.css.map */
